@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800;600;500&family=Poppins&display=swap");
/* 
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif; */

* {
  margin: 0;
  padding: 0;
}


a {
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 2rem 8rem;
}

footer h1, header h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: 900;
  color: #2e4ecc;
}

header nav a {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #717e96;
  margin-left: 2rem;
}

.btn-grad {
  background-image: linear-gradient(
    to right,
    #0575e6 0%,
    #021b79 51%,
    #0575e6 100%
  );
}
.btn-grad {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 500;
  margin: 0 0 0 2rem;
  padding: 10px 40px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 5px;
  border-style: none;
}

.btn-grad:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

section.seccion1 {
  position: relative;
  overflow-x: hidden;
}

.seccion1 .fondo-1{
  display: grid;
  grid-template-columns: 50% 50%;
}

.seccion1 .fondo-1 .info1 {
  padding: 0 0 0 8rem;
}

.fondo-1 .info1 h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 64px;
  font-weight: 800;
  color: #1f3e72;
  padding: 8rem 0 2rem 0;
}

.fondo-1 .info1 p {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  color: #717e96;
  margin-bottom: 4rem;
}

.seccion1 .image1 {
  width: 50vw;
  height: 120vh;
  background-image: url(../assets/img-1.jpg);
  background-position: center;
  background-size: cover;
}

.seccion1 .fondo-1 .image0 img{
  width: 110%;
  height: auto;
  object-fit: contain;
  object-position: 20% 100%;
} 

.etiqueta {
  display: flex;
}

.etiqueta p {
  color: #395582;
  margin-left: 30px;
}

.et-inline {
  display: flex;
  justify-content: space-between;
  margin-right: 150px;
}

.yellow-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: #fff9e4;
}

.yellow-card i {
  color: #ffd012;
}

.etiqueta .et-title {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #717e96;
}

.blue-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: #eaefff;
}

.blue-card i {
  color: #3b5ad0;
}
.schedule{
    position: absolute;
    bottom: 30px;
    left: 8rem;
    width: 70%;
}
.schedule-card{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-top: 30px;
    height: 120px;
    background-color: rgba(255, 255, 255, 0.829);
    border-radius: 20px;
    box-shadow: -38px 29px 61px -9px rgba(219,219,230,0.56);
-webkit-box-shadow: -38px 29px 61px -9px rgba(219,219,230,0.56);
-moz-box-shadow: -38px 29px 61px -9px rgba(219,219,230,0.56);
}

.schedule-etiquetas{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.schedule-etiquetas .campo .et-input{
  font-family: "Open Sans", sans-serif;
  font-size: 28px;
  font-weight: 800;
  color: #1f3e72;
  margin-top: 15px;
}

.schedule-card .btn-grad{
  width: 200px;
  height: auto;
  margin: 30px 0;
}

.vacunas{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 8rem;
}

.vacunas img{
  width: 20%;
  height: 20%;
}

.why{
  padding: 4rem 8rem;
}
.why h2{
  font-family: "Open Sans", sans-serif;
  font-size: 36px;
  font-weight: 800;
  color: #1f3e72;
}

.why-description{
  margin-top: 2rem;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  color: #717e96;
}



.why .benefits {
  font-family: "Poppins", sans-serif;
  display: grid;
  grid-template-columns: auto auto auto auto;
  column-gap: 2rem;
  margin-top: 4rem;
  
}

.benefits .benefit{
  border: #fafaff;
  border-style: solid;
  border-radius: 10px;
  padding: 2rem;
}

.benefits .benefit:hover{
  border-style: none;
  box-shadow: 0px 24px 49px -14px rgba(222, 222, 224, 0.75);
  -webkit-box-shadow: 0px 24px 49px -14px rgba(222, 222, 224, 0.75);
  -moz-box-shadow: 0px 24px 49px -14px rgba(222, 222, 224, 0.75);
}

.benefit .blue-card{
  width: 50px;
  height: 50px;
  border-radius: 5px;
}

.benefit .benefit-title{
  color: #1f3e72;
  font-size: 20px;
  font-weight: 600;
  margin-top: 2rem;
}

.benefit .benefit-text{
  color: #717e96;
  font-size: 16px;
  margin-top: 1rem;
}

.preparations{
  display: grid;
  grid-template-columns: 50% 50%;
  margin-top: 6rem;
  /* column-gap: 4rem; */
}

.preparations h2{
  font-family: "Open Sans", sans-serif;
  font-size: 36px;
  font-weight: 800;
  color: #1f3e72;
}

.preparations .imagen{
  position: relative;
}

.preparations .imagen .back-blue{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 65%;
  background: rgb(6,155,230);
  background: linear-gradient(117deg, rgba(6,155,230,1) 0%, rgba(55,96,218,1) 100%);
}

.preparations .imagen img{
  position: absolute;
  bottom: 0;
  left: -220px;
  width: 160%;
  height: auto;
}

.preparations .info{
  padding: 0 8rem 0 4rem;
}

.preparations .info p{
  font-family: "Poppins", sans-serif;
}

.preparations .info .info-description{
  margin-top: 2rem;
  font-size: 20px;
  color: #717e96;
}

.preparations .info .list-prep{
  display: grid;
  grid-template-rows: auto auto auto auto auto;
  row-gap: 2rem;
  margin-top: 4rem;
  margin-right: 4rem;
}

.preparations .info .list-prep .item-pre{
  border: #fafaff;
  border-style: solid;
  border-radius: 10px;
  padding: 1rem 2rem;
}

.preparations .info .list-prep .item-pre-select{
  border: #fafaff;
  border-style: none;
  border-radius: 10px;
  padding: 1rem 2rem;
  box-shadow: 0px 24px 49px -14px rgba(222, 222, 224, 0.75);
  -webkit-box-shadow: 0px 24px 49px -14px rgba(222, 222, 224, 0.75);
  -moz-box-shadow: 0px 24px 49px -14px rgba(222, 222, 224, 0.75);
}

.preparations .info .list-prep .item-pre-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.et-prep{
  display: flex;
  align-items: center;
}

.prep-blue-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: #eaefff;
  border-radius: 5px;
}

.prep-blue-card i {
  color: #3b5ad0;
}

.et-prep .prep-et-title{
  font-size: 18px;
  font-weight: 800;
  color: #1f3e72;
  margin-left: 30px;
}

.item-pre .item-pre-header .vineta{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  background-color: #eaefff;
}

.item-pre .item-pre-header .vineta i{
  color: #3b5ad0;
}

.item-pre-text{
  margin: 1rem 4rem 0 4rem;
  font-size: 14px;
  color: #717e96;
}

.item-pre-select .item-pre-header .vineta {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  background-color: #eff0f3;
}

.item-pre-select .item-pre-header .vineta i {
  color: #717e96;
}


/* Contact Section */

.contact{
  display: grid;
  grid-template-columns: 50% 50%;
  margin-top: 12rem;
  column-gap: 4rem;
  overflow-x: hidden;
}

.contact h2{
  font-family: "Open Sans", sans-serif;
  font-size: 36px;
  font-weight: 800;
  color: #1f3e72;
  margin-bottom: 2rem;
}

.contact .info-contact{
  padding-left: 8rem;
}

.contact .info-contact p{
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  color: #717e96;
  
}

.contact .info-contact .contact-cards{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto;
  column-gap: 2rem;
  row-gap: 2rem;
  padding-right: 5rem;
  margin-top: 8rem;
}

.contact .info-contact .contact-cards .contact-card{
  border: #fafaff;
  border-style: solid;
  border-radius: 10px;
  padding: 2rem 3rem;
}

.contact .info-contact .contact-cards .contact-card-select{
  border: #fafaff;
  border-style: none;
  border-radius: 10px;
  padding: 2rem 3rem;
  box-shadow: 0px 24px 49px -14px rgba(222, 222, 224, 0.75);
  -webkit-box-shadow: 0px 24px 49px -14px rgba(222, 222, 224, 0.75);
  -moz-box-shadow: 0px 24px 49px -14px rgba(222, 222, 224, 0.75);
}


 .card-head{
  display: flex;
  
  margin-bottom: 2rem;
}

 .card-head .card-head-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  background-color: #eaefff;
  margin-right: 1rem;
}

 .card-head .card-head-info .call{
  color: #1f3e72;
  font-weight: 600;
  font-size: 18px;
}

 .card-head .card-head-info .number{
  color: #717e96;
  font-size: 12px;
  margin-top: 5px;
}

 .card-head .card-head-icon i{
  color: #3b5ad0;
}

 .btn-contact-unselect{
  background-color: #eaefff;
  color: #3b5ad0;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  padding: 10px;
  border-radius: 5px;
  border-style: none;
  display: block;
  width: 100%;
}

 .btn-contact {
  background-image: linear-gradient(
    to right,
    #0575e6 0%,
    #021b79 51%,
    #0575e6 100%
  );
}
 .btn-contact {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 500;
  padding: 10px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 5px;
  border-style: none;
  display: block;
  width: 100%;
}

 .btn-contact:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.contact .imagen{
  position: relative;
}

.contact .imagen .back-blue{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 65%;
  background: rgb(6,155,230);
  background: linear-gradient(117deg, rgba(6,155,230,1) 0%, rgba(55,96,218,1) 100%);
}

.contact .imagen img{
  position: absolute;
  bottom: 0;
  right: 0;
  width: 140%;
  height: auto;
}


/* Footer */

footer{
  margin-top: 8rem;
  padding: 4rem 8rem 1rem 8rem;
  background-color: #eaefff;

}

footer .row-1{
  
  display: grid;
  grid-template-columns: 50% 50%;
}

footer .row-1 .col-1 p{
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: #717e96;
}

footer .row-1 .col-2{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 6rem;
  justify-self: end;
}

footer .row-1 .col-2 h2{
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #1f3e72;
  margin-bottom: 20px;
}

footer .row-1 .col-2 .links{
  display: flex;
  flex-direction: column;
  gap: 10px;
}


footer a{
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: #717e96;
}

footer a:hover{
  color: #2e4ecc;
}

footer .row-2{
  margin-top: 6rem;
  display: flex;
  justify-content: space-between;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: #717e96;
}

footer .row-2 .links{
  display: flex;
  gap: 20px;
}
